body {
    background-color: bisque;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 5rem;
    margin-top: 2rem;
}

canvas {
    background: url(./content/Sprites/background.png);
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
    margin-top: 2rem;
}